<div class="w-[400px] lg:w-[900px] h-28 rounded-lg grid grid-cols-[auto_auto_1fr_auto] items-center border-2 border-gray-400" >
    <div cdkDragHandle class="cursor-move">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01"/>
        </svg>
    </div>
    <div class="w-36  bg-gray-600 ml-4 relative">
        <!--
        <video  controls>
            <source [src]="data?.urlminiatura" type="video/mp4">
            Tu navegador no soporta la reproducción de videos.
        </video>
        -->
        <img [src]="data?.urlminiatura" alt="imagen_video">
        <div class="absolute top-5 right-11">
            <button class="hover:scale-110 transition-all">
                <svg class="w-14 h-14 text-white/95 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M8.6 5.2A1 1 0 0 0 7 6v12a1 1 0 0 0 1.6.8l8-6a1 1 0 0 0 0-1.6l-8-6Z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="flex flex-col items-start justify-center ml-4">
        <p>TITULO:{{data?.titulo}}</p>
        <p>DESCRIPCION:{{data?.descripcion}}</p>
    </div>
    <div class=" h-full flex flex-col flex-nowrap gap-1">
        <button class="w-14 h-[48%]  flex items-center justify-center text-gray-400 bg-transparent transition-colors hover:bg-red-50 hover:text-red-600 rounded-lg">
            <svg class="w-7 h-7 font-bold" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
        <button (click)="edit.emit()" class="w-14 h-[48%]  flex items-center justify-center text-gray-400 bg-transparent transition-colors hover:bg-teal-50 hover:text-teal-600 rounded-lg">
            <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
            </svg>
        </button>
    </div>
</div>